.grid-component{
  margin-top: 10px;
  padding: 10px;

  .highlight{
    background-color: #444;
    height: 40px;
    color: #FFF;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
  }
}