.header-component{
  .logo{
    background: url("/images/logo/essential-ui-logo.png") no-repeat scroll 0 0 #fff;
    background-size: contain;
    color:#224A75;
    display: block;
    height: 55px;
    text-decoration: none;

    .logo-text{
      display: block;
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 1px;
      padding-left: 55px;
      padding-top: 13px;
    }
  }

  .github{
    float: right;
    padding-right: 10px;
    margin-top: 5px;
    background: url("/images/logo/github-logo.svg") no-repeat scroll 0 0 #fff;
    background-size: contain;
    display: block;
    height: 45px;
    width:45px;
  }

  .nav-links{
    list-style-type: none;

    li {

      display:inline-block;
      padding:0 15px;

      a {
        color: #888;
        text-transform: uppercase;
        font-size: 0.8rem;
        text-decoration: none;
        border-bottom: 3px solid #fff;
        transition: all 200ms linear;

        &:hover {
          border-bottom: 3px solid #31B8F0;
        }
      }
    }
  }

  @media only screen and (max-width: 960px) {
    .logo{
      height:45px;

      .logo-text{
        font-size:1.4rem;
        padding-left: 45px;
      }
    }
  }

  @media only screen and (max-width: 480px) {
    .logo{
      height:45px;

      .logo-text{
        font-size:1.4rem;
        padding-left: 45px;
      }
    }

    .github{
      display: none;
    }
  }
}
