.page-header{
  font-size:1.5rem;
  margin-bottom:10px;
}

.page-sub-header{
  font-size:1.2rem;
  font-weight: 300;
  margin-bottom:10px;
}

.page-paragraph{
  font-size:0.9rem;
  margin:20px 0;
}

.example{
  background-color: #eee;
  border: 1px solid #ddd;
  border-radius:3px;
  margin-bottom:20px;
  padding:10px;

  .example-component{
    padding:5px;
  }

  .example-code{
    background: #fff;
    padding: 10px;
    border-radius: 3px;
    margin-top: 20px;

    .indent{
      margin-left:12px;
    }

    .code-element{
      color:#9370db;
      padding-right: 4px;
    }

    .code-attribute{
      color: #8b0000;
    }

    .code-value{
      color:#1e90ff;
      padding-right:4px;
    }
  }
}

