
.appComponent{
  background-repeat: repeat-x;
  background-image: -webkit-linear-gradient(140deg, #08F, #31B8F0);
  background-image: -o-linear-gradient(140deg, #08F, #31B8F0);
  background-image: linear-gradient(140deg, #08F, #31B8F0);
  background-color: #08F;
  color: white;
  margin-top: -50px;
  padding-bottom: 100px;
  padding-top: 100px;
}