doctype html
html.no-js(lang="en" xml:lang="en" xmlns='http://www.w3.org/1999/xhtml')
    head
        title=title
        meta(http-equiv='X-UA-Compatible' content='IE=EDGE')
        meta(httpEquiv='Content-type' content='text/html;charset=utf-8')
        meta(name='keywords' content='react,reactjs,react component,component,css,form,control,ui,javascript')
        meta( name='description' content='A collection of UI React.js components for websites and apps')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        link(rel="stylesheet" type="text/css" href="/style.css")
    body
        div#content!=content
        script(type='application/json' id='initial-data')!=JSON.stringify(data)
        script(type='text/javascript' src='/app.js')
